<div id="<%= dom_id crew %>">
  <tr>
    <th scope="col">  <%= link_to crew.name, crew %></th>
    <% if Division.where(id: crew.division_id).count > 0 %>
      <th scope="col">  <%= Division.where(id: crew.division_id).first.name %></th>
    <% else %>
      <th>Error</th>
    <% end %>
    <th scope="col"><%= Employee.where(crew_name: crew.name).count %></th>
    <th scope="col">
      <% if Employee.where(position: "Foreman", crew_name: crew.name)&.count > 0 %>
        <%= Employee.where(position: "Foreman", crew_name: crew.name).first&.name %>
        </th>
      <% else %>
      <% end %>
      <% begin %>
        <th scope="col"><%= Job.where(crew_name: crew.name, completed: true).average(:e_rating).to_i %>%</th>
        </tr>
      <% rescue %>

      <% end %>


      </div>
