<div class="card ">
  <div class="card-body">
    <div class="row">
      <!--      <div data-controller="dashboard"></div>-->

      <div class="btn-group " role="group" aria-label="Basic checkbox toggle button group">
        <input type="checkbox" class="btn-check " id="three_month" checked="" autocomplete="off">
        <label class="btn border border-primary btn-primary " for="three_month" id="three_month_label">3 Month</label>
        <input type="checkbox" class="btn-check" id="six_month" autocomplete="off">
        <label class="btn border border-primary" for="six_month" id="six_month_label">6 Month</label>
        <input type="checkbox" class="btn-check" id="nine_month" autocomplete="off">
        <label class="btn border border-primary" for="nine_month" id="nine_month_label">9 Month</label>
        <input type="checkbox" class="btn-check" id="twelve_month" autocomplete="off">
        <label class="btn border border-primary" for="twelve_month" id="twelve_month_label">12 Month</label>
      </div>
      <div class="col-12">

        <div id="three_month_workload">
          <%= bar_chart [
                          { name: "Contracted Hours", data: Job
                            .group(:division_name)
                            .where(division_name: Division.all.where(utilization: 0).pluck(:name)).
                            sum(:three_month_hours) },
                          { name: "Workforce Hours", data: Employee
                            .group(:division)
                            .where(division: Division.all.where(utilization: 0).pluck(:name))
                            .sum(:man_hours_three_months) }],
                        library: {
                          label: {
                            style: {
                              color: '#ffffff'
                            }
                          },
                          title: {
                            text: "Three Month Workload Per Division",
                            style: {
                              color: '#ffffff',
                              fontWeight: 'bold'
                            }
                          },
                          chart: {
                            backgroundColor: 'transparent',
                            type: 'line',
                            labels: {
                              style: {
                                color: '#ffffff'
                              }
                            },
                          },
                          plotOptions: {
                            series: {
                              dataLabels: {
                                enabled: true,
                                color: 'white',
                                format: '{point.y:,.1f}'
                              }
                            }
                          },

                          xAxis: {
                            categories: {
                            },
                            labels: {
                              enabled: true,
                              style: {
                                color: '#ffffff'
                              }

                            }
                          },
                          yAxis: {

                            labels: {
                              style: {
                                color: '#ffffff'
                              }
                            },
                          },
                          legend: {
                            itemStyle: {
                              color: 'white'
                            }
                          }
                        }

          %>
        </div>
        <div id="six_month_workload" hidden>
          <%= bar_chart [
                          { name: "Contracted Hours", data: Job
                            .group(:division_name)
                            .where(division_name: Division.all.where(utilization: 0).pluck(:name)).
                            sum(:six_month_hours) },
                          { name: "Workforce Hours", data: Employee
                            .group(:division)
                            .where(division: Division.all.where(utilization: 0).pluck(:name))
                            .sum(:man_hours_six_months) }],
                        library: {
                          label: {
                            style: {
                              color: '#ffffff'
                            }
                          },
                          title: {
                            text: "Six Month Workload Per Division",
                            style: {
                              color: '#ffffff',
                              fontWeight: 'bold'
                            }
                          },
                          chart: {
                            backgroundColor: 'transparent',
                            type: 'line',
                            label: {
                              style: {
                                color: '#ffffff'
                              }
                            },
                          },
                          plotOptions: {
                            series: {
                              dataLabels: {
                                enabled: true,
                                color: 'white',
                                format: '{point.y:,.1f}'
                              }
                            }
                          },

                          xAxis: {
                            categories: {
                            },
                            labels: {
                              enabled: true,
                              style: {
                                color: '#ffffff'
                              }

                            }
                          },
                          yAxis: {

                            labels: {
                              style: {
                                color: '#ffffff'
                              }
                            },
                          },
                          legend: {
                            itemStyle: {
                              color: 'white'
                            }
                          }
                        }

          %>
        </div>
        <div id="nine_month_workload" hidden>
          <%= bar_chart [
                          { name: "Contracted Hours", data: Job
                            .group(:division_name)
                            .where(division_name: Division.all.where(utilization: 0).pluck(:name)).
                            sum(:nine_month_hours) },
                          { name: "Workforce Hours", data: Employee
                            .group(:division)
                            .where(division: Division.all.where(utilization: 0).pluck(:name))
                            .sum(:man_hours_nine_months) }],
                        library: {
                          label: {
                            style: {
                              color: '#ffffff'
                            }
                          },
                          title: {
                            text: "Nine Month Workload Per Division",
                            style: {
                              color: '#ffffff',
                              fontWeight: 'bold'
                            }
                          },
                          chart: {
                            backgroundColor: 'transparent',
                            type: 'line'
                          },
                          plotOptions: {
                            series: {
                              dataLabels: {
                                enabled: true,
                                color: 'white',
                                format: '{point.y:,.1f}'
                              }
                            }
                          },

                          xAxis: {
                            categories: {
                            },
                            labels: {
                              enabled: true,
                              style: {
                                color: '#ffffff'
                              }

                            }
                          },
                          yAxis: {

                            labels: {
                              style: {
                                color: '#ffffff'
                              }
                            },
                          },
                          legend: {
                            itemStyle: {
                              color: 'white'
                            }
                          }
                        }

          %>
        </div>
        <div id="twelve_month_workload" hidden>
          <%= bar_chart [
                          { name: "Contracted Hours", data: Job
                            .group(:division_name)
                            .where(division_name: Division.all.where(utilization: 0).pluck(:name)).
                            sum(:twelve_month_hours) },
                          { name: "Workforce Hours", data: Employee
                            .group(:division)
                            .where(division: Division.all.where(utilization: 0).pluck(:name))
                            .sum(:man_hours_twelve_months) }],
                        library: {
                          label: {
                            style: {
                              color: '#ffffff'
                            }
                          },
                          title: {
                            text: "Twelve Month Workload Per Division",
                            style: {
                              color: '#ffffff',
                              fontWeight: 'bold'
                            }
                          },
                          chart: {
                            backgroundColor: 'transparent',
                            type: 'line'
                          },
                          plotOptions: {
                            series: {
                              dataLabels: {
                                enabled: true,
                                color: 'white',
                                format: '{point.y:,.1f}'
                              }
                            }
                          },

                          xAxis: {
                            categories: {
                            },
                            labels: {
                              enabled: true,
                              style: {
                                color: '#ffffff'
                              }

                            }
                          },
                          yAxis: {

                            labels: {
                              style: {
                                color: '#ffffff'
                              }
                            },
                          },
                          legend: {
                            itemStyle: {
                              color: 'white'
                            }
                          }
                        }

          %>
        </div>
      </div>
      <div class="col">
        <h5 class="card-title text-center">Months Out</h5>

        <ul class="list-group">
          <% division_workload.each do |n| %>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <%= n.first[:name] %>
              <span class="badge bg-primary rounded-pill"><%= n.first[:sum].round(2) %></span>
            </li>
          <% end %>


        </ul>

      </div>
      <div class="col">
        <h5 class="card-title text-center">E-Rating</h5>

        <ul class="list-group">
          <% division_e_rating.each do |n| %>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <%= n.first[:name] %>
              <span class="badge bg-primary rounded-pill"><%= n.first[:average] %>%</span>
            </li>
          <% end %>


        </ul>

      </div>
    </div>
  </div>


</div>