<div class="table-responsive">
  <table id="datatable" class="table table-striped">
    <thead>
    <tr>
      <!--      <th scope="col">Year</th>-->
      <!--      <th scope="col">Days in start month</th>-->
      <!--      <th scope="col">Days in end month</th>-->
      <!--      <th scope="col">Duration of Project</th>-->
      <!--      <th scope="col">Cost per day</th>-->
      <!--      <th scope="col">First Month</th>-->
      <!--      <th scope="col">End Month</th>-->
      <th scope="col">Client</th>
      <th scope="col">Project</th>
      <th scope="col">January</th>
      <th scope="col">Feb</th>
      <th scope="col">March</th>
      <th scope="col">April</th>
      <th scope="col">May</th>
      <th scope="col">June</th>
      <th scope="col">July</th>
      <th scope="col">August</th>
      <th scope="col">September</th>
      <th scope="col">October</th>
      <th scope="col">November</th>
      <th scope="col">December</th>
    </tr>
    </thead>
    <tbody>
    <% @all_jobs_array = [] %>
    <% @projects.each do |project| %>
      <% @jobs_array = Forecast.projects(project) %>
      <tr>
        <td> <%= @jobs_array[0][3] %></td>
        <td> <%= @jobs_array[0][2] %></td>
        <td> <%= number_to_currency(@jobs_array[0][1]) %></td>
        <td> <%= number_to_currency(@jobs_array[1][1]) %></td>
        <td> <%= number_to_currency(@jobs_array[2][1]) %></td>
        <td> <%= number_to_currency(@jobs_array[3][1]) %></td>
        <td> <%= number_to_currency(@jobs_array[4][1]) %></td>
        <td> <%= number_to_currency(@jobs_array[5][1]) %></td>
        <td> <%= number_to_currency(@jobs_array[6][1]) %></td>
        <td> <%= number_to_currency(@jobs_array[7][1]) %></td>
        <td> <%= number_to_currency(@jobs_array[8][1]) %></td>
        <td> <%= number_to_currency(@jobs_array[9][1]) %></td>
        <td> <%= number_to_currency(@jobs_array[10][1]) %></td>
        <td> <%= number_to_currency(@jobs_array[11][1]) %></td>
      </tr>
      <% @all_jobs_array.push(@jobs_array) %>
    <% end %>
    <tr>
      <td></td>
      <td>Total</td>
      <% count = Project.all.count %>

      <% i = 0 %>
      <% while i < 12 do %>
        <% value = 0 %>
        <% @all_jobs_array.each do |p| %>
          <% value = value + p[i][1] %>
        <% end %>
        <td><%= number_to_currency(value) %></td>
        <% i = i + 1 %>
      <% end %>
    </tr>


    </tbody>
  </table>
</div>