<div id="<%= dom_id employee %>">
  <tr>
    <td><%= link_to employee.name, employee %></td>
    <td><%= employee.email %></td>
    <td><%= employee.phone_number %></td>
    <td><%= employee.crew.name %></td>
    <td><%= employee.role %></td>
    <td><%= employee.tier %></td>
    <td><%= employee.division %></td>
    <td><%= employee.man_hours_per_week %></td>
  </tr>

</div>
