<div id="<%= dom_id employee %>">
  <tr>
    <td><%= employee.name %></td>
    <td><%= employee.division %></td>
    <td><%= employee.role %></td>
    <td><%= employee.man_hours_per_week %></td>
    <td><%= link_to "view", employee %></td>
  </tr>

</div>
