<p style="color: green"><%= notice %></p>
<table class="table table-striped table-hover table-bordered">
  <thead>
  <tr>
    <th>Name</th>
    <th>Crew</th>
    <th>Role</th>
    <th>Hours Per Week</th>
    <th>View</th>
  </tr>
  </thead>
  <tbody>
  <%= render @employee %>
  </tbody>
</table>

<div>
  <%= link_to "Edit this employee", edit_employee_path(@employee) %> |
  <%= link_to "Back to employees", employees_path %>

  <%= button_to "Destroy this employee", @employee, method: :delete %>
</div>
