<tr>
  <!--    TODO Add search form and sorting and filter to all jobs Table-->
  <% end_date_greater_30_days = job.end_date + 30.days %>
  <% if job.completed == true and end_date_greater_30_days > job.end_date %>
    <td><%= link_to job.id, job %></td>
    <td><%= link_to job.crew_name, job %></td>
    <td><%= job.phase %></td>
    <td><%= job.start_date.strftime("%d/%m/%Y") %></td>
    <% date_difference = job.end_date - Date.current %>
    <% if date_difference < 0 %>
      <td class="text-danger"><%= job.end_date.strftime("%d/%m/%Y") %> <br> <small>(check completion)</small></td>
    <% else %>
      <td class="text-success"><%= job.end_date.strftime("%d/%m/%Y") %></td>

    <% end %>

    <td><%= job.man_hours %></td>
    <td><%= Project.where(id: job.project_id).first.name %></td>
    <td><%= Client.joins(:projects).where(:projects => { :id => job.project_id }).first.name %></td>
    <% if job.completed == true %>
      <td class="text-success capitalize"><%= job.completed.to_s.capitalize %></td>
    <% else %>
      <td class="text-danger"><%= job.completed.to_s.capitalize %></td>
    <% end %>
  <% else %>
  <% end %>

</tr>