<%= form_with(model: @job) do |form| %>
  <% if @job.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
        <% @job.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col d-none">
      <%= form.label :project_id, style: "display: block", class: "form-label" %>
      <%= form.collection_select(:project_id, Project.where(id: @project_id), :id, :name) %>
    </div>

    <div class="col">
      <%= form.label :start_date, style: "display: block", class: "form-label" %>
      <%= form.date_field :start_date, class: "form-control" %>
    </div>
    <div class="col">
      <%= form.label :end_date, style: "display: block", class: "form-label" %>
      <%= form.date_field :end_date, class: "form-control" %>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <%= form.label :man_hours, style: "display: block", class: "form-label" %>
      <%= form.text_field :man_hours, class: "form-control" %>
    </div>
    <div class="col">
      <%= form.label :actual_worked_hours, style: "display: block", class: "form-label" %>
      <%= form.text_field :actual_worked_hours, class: "form-control" %>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <%= form.label :crew_id, style: "display: block", class: "form-label" %>
      <%= form.collection_select(:crew_id, Crew.all.collect, :id, :name, {}, { class: "form-select" }) %>
    </div>
    <div class="col">
      <%= form.label :phase, style: "display: block", class: "form-label" %>
      <%= form.select :phase, Phase.all.collect { |p| [p.name] }, {}, { class: "form-select" } %>
    </div>
    <% if @job.new_record? %>
    <% else %>
      <div class="col">
        <p class="mt-3">Mark Once Job Is Complete</p>
        <div class="form-check">
          <%= form.check_box :completed, class: "form-check-input" %>
          <%= form.label :completed, style: "display: block", class: "form-check-label" %>
        </div>
      </div>
    <% end %>
    <span>
<hr>
<div class="btn-group btn-group  float-end" role="group" aria-label="...">
      <%= form.submit "New Job", class: "btn btn-warning float-end" %>
  <%= link_to "Back", :back, class: "btn btn-primary float-end" %>
</div>
    </span>
  </div>
<% end %>

