<div id="<%= dom_id job %>">

  <tr>
    <!--    TODO Add search form and sorting and filter to all jobs Table-->
    <td><%= link_to job.id, job %></td>
    <td><%= link_to job.crew_name, job %></td>
    <td><%= job.phase %></td>
    <td><%= job.start_date %></td>
    <td><%= job.end_date %></td>
    <td><%= job.man_hours %></td>
    <td><%= Project.where(id: job.project_id).first.name %></td>
    <td><%= Client.joins(:projects).where(:projects => { :id => job.project_id }).first.name %></td>
  </tr>

</div>
