<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h1>Jobs</h1>
      <div class="btn-group float-end" role="group" aria-label="Basic example">
        <%= link_to 'Open', jobs_path, class: "btn btn-primary" %>
        <!--        <button type="button" class="btn btn-primary">-->
        <!--          Closed-->
        <!--        </button>-->
      </div>
      <%#= render 'job_search_form' %>

    </div>
  </div>
  <div id="jobs">
    <table class="table  table-hover table-dark">
      <thead class="table-dark">
      <tr>

        <th scope="col"><%= sort_link(@q, :crew_name, 'Crew', default_order: :desc) %></th>
        <th scope="col">Phase</th>
        <th scope="col">Division</th>
        <th scope="col"><%= sort_link(@q, :start_date, 'Start Date', default_order: :desc) %></th>
        <th scope="col"><%= sort_link(@q, :end_date, 'End Date', default_order: :desc) %></th>
        <th scope="col">Hours <br><small>(Actual/Bid)</small></th>
        <th scope="col">Three Month Hours <br><small>(Actual/Bid)</small></th>
        <th scope="col">Project</th>
        <th scope="col">Client</th>
        <th scope="col">Completed</th>
      </tr>
      </thead>
      <tbody>


      <% @jobs.each do |job| %>
        <% if job.completed == false %>

        <% else %>
          <%= render job %>
        <% end %>
      <% end %>

      </tbody>
    </table>
  </div>
</div>