<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h1>Jobs</h1>
      <!--      <button id="completed_jobs" class="btn float-end">View Completed</button>-->
      <%= render 'job_search_form' %>

    </div>
  </div>
  <div id="jobs">
    <table class="table  table-hover table-dark">
      <thead class="table-dark">
      <th scope="col"><%= sort_link(@q, :crew_name, 'Crew', default_order: :desc) %></th>
      <th scope="col">Phase</th>
      <th scope="col">Division</th>
      <th scope="col"><%= sort_link(@q, :start_date, 'Start Date', default_order: :desc) %></th>
      <th scope="col"><%= sort_link(@q, :end_date, 'End Date', default_order: :desc) %></th>
      <th scope="col">Hours <br><small>(Actual/Bid)</small></th>
      <th scope="col">Three Month Hours <br><small>(Actual/Bid)</small></th>
      <th scope="col">Project</th>
      <th scope="col">Client</th>
      <th scope="col">Completed</th>
      </thead>
      <tbody>


      <% @jobs.each do |job| %>
        <%# if job.completed == true %>
        <%# else %>
        <%= render job %>
        <%# end %>
      <% end %>

      </tbody>
    </table>
  </div>
</div>
