<div class="container mt-3">
  <div class="card">
    <div class="card-header">
      <div class="container">
        <h5 class="float-end">E-Rating: <%= @job.e_rating.round(2) %>%</h5>
        <h2>Phase: <%= @job.phase %></h2>
        <h6 class="float-end">Paid Hours: <%= @job.actual_worked_hours %></h6>
        <h5>Project Manager: <%= @job.project_manager %></h5>

      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col">
          <h5>Crew: <%= @job.crew %></h5>
          <h6>Division: <%= @job.division %></h6>
          <p>Starting <%= @job.start_date.strftime('%m/%d/%Y') %></p>
          <p>Ending <%= @job.end_date.strftime('%m/%d/%y') %></p>

        </div>
        <div class="col">
          <h6>Bid Hours: <%= @job.man_hours %> <p>Estimated Remaining <%= @job.hours_remaining %></p></h6>
          <p>Hours Per Week <%= @job.hours_per_week %></p>
          <p>Week(s) <%= @job.weeks %></p>
          <p>Remaining Week(s): <%= @job.week_remaining %></p>


        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="row">
        <div class="col">
          <p>3 Month Hours: <%= @job.three_month_hours %></p>
        </div>
        <div class="col">
          <p>6 Month Hours: <%= @job.six_month_hours %></p>
        </div>
        <div class="col">
          <p>9 Month Hours: <%= @job.nine_month_hours %></p>
        </div>
        <div class="col">
          <p>12 Month Hours: <%= @job.twelve_month_hours %></p>
        </div>
      </div>
    </div>


  </div>
  <%= link_to "Back", project_path(@job.project_id), class: "btn btn-secondary" %> |
  <%= link_to "Edit", edit_job_path(@job), class: "btn btn-secondary" %>
</div>