<div class="container mt-3">
  <div class="card">
    <div class="card-header">

      <%= @user.name %>
    </div>
    <div class="card-body">
      <p>
        <strong>Joined on:</strong>
        <%= @joined_on %>
      </p>
      <p>
        <strong>Last logged in on:</strong>
        <%= @last_login %>
      </p>
      <p>
        <strong>No. times logged in:</strong>
        <%= @user.sign_in_count %>
      </p>

    </div>

  </div>

  <span class="float-end">

  <%= link_to "Edit", edit_user_path(@user), class: "btn btn-warning" %> |
    <%= link_to "All Users", users_path, class: "btn btn-secondary" %>   <%= button_to "Delete User", registration_path(@user), method: :delete, data: {
    turbo_method: :delete,
    turbo_confirm: "Are you sure?"
  }, class: "btn btn-danger float-end" %>

  </span>
</div>