<div id="<%= dom_id division %>">
  <tr>
    <td><%= link_to division.name, division %></td>
    <td><%= division.utilization %></td>
    <td><%= Job.where(division: division.name).sum(:hours_per_week) %></td>
    <td><%= Job.where(division: division.name).sum(:three_month_hours) %></td>
    <td><%= Job.where(division: division.name).sum(:six_month_hours) %></td>
    <td><%= Job.where(division: division.name).sum(:nine_month_hours) %></td>
    <td><%= Job.where(division: division.name).sum(:twelve_month_hours) %></td>
    <td><%= Job.where(division: division.name, completed: true).average(:e_rating).to_i %>%</td>
    <% begin %>
      <td><%= Employee.where(division: division.name).sum(:man_hours_three_months) / Job.where(division: division.name).sum(:three_month_hours) * 100 %>
        %
      </td>
    <% rescue %>
      <td> Division by zero error</td>
    <% end %>


  </tr>


</div>
