<div id="<%= dom_id division %>">
  <p>
    <strong>Name:</strong>
    <%= division.name %>
  </p>

  <p>
    <strong>Hours per week:</strong>
    <%= division.hours_per_week %>
  </p>

  <p>
    <strong>Hours per month:</strong>
    <%= division.hours_per_month %>
  </p>

  <p>
    <strong>Three month hours:</strong>
    <%= division.three_month_hours %>
  </p>

  <p>
    <strong>Six month hours:</strong>
    <%= division.six_month_hours %>
  </p>

  <p>
    <strong>Nine month hours:</strong>
    <%= division.nine_month_hours %>
  </p>

  <p>
    <strong>Twelve month hours:</strong>
    <%= division.twelve_month_hours %>
  </p>

</div>
