<div id="<%= dom_id division %>">
  <tr>
    <td><%= division.name %></td>
    <td><%= division.hours_per_week %></td>
    <td><%= division.three_month_hours %></td>
    <td><%= division.six_month_hours %></td>
    <td><%= division.nine_month_hours %></td>
    <td><%= division.three_month_hours %></td>
    <td> <%= link_to "Show", division %></td>
  </tr>


</div>
