<div id="<%= dom_id client %>">
  <tr>
    <td><%= link_to client.name, client %></td>
    <td><%= client.address %></td>
    <td><%= client.future_address %></td>
    <td><%= client.phone_number %></td>
    <td><%= client.cell_phone %></td>
    <td><%= client.email %></td>
  </tr>

</div>
