<div class=" mt-3">
  <%= link_to "New Project", client_projects_path, class: "btn-sm btn-primary float-end" %>
  <h1>Projects</h1>
  <div class="row">


    <% @projects.each do |p| %>


      <div class="col">
        <div class="card">
          <div class="card-header">
            <%= link_to "View >>", project_path(p.id), class: "btn btn-primary text-info float-end" %>
            <h2 class="card-title"><%= p.name %></h2>
            <p>Project Manager <%= p.project_manager %></p>
          </div>
          <div class="card-body">
            <p><%= p.info %></p>
          </div>

        </div>
      </div>
    <% end %>


  </div>
</div>