<li class="nav-item"><%= link_to "Dashboard", dashboard_index_path, class: "nav-link" %></li>

<li class="nav-item"><%= link_to "Schedule", schedule_index_path, class: "nav-link" %></li>
<li class="nav-item"><%= link_to "All Jobs", jobs_path, class: "nav-link" %></li>


<%#= link_to "Log out (does not work)", destroy_user_session_path, method: :delete %>

<%#= link_to "Log out", destroy_user_session_path, 'data-turbo-method': :delete %>
<%#= button_to "Log out", destroy_user_session_path, method: :delete, data: { turbo: false } %>
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Clients
  </a>
  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
    <li><%= link_to "Clients", clients_path, class: "dropdown-item" %></li>
    <li><%= link_to "New Client", new_client_path, class: "dropdown-item" %></li>
  </ul>
</li>
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Employees
  </a>
  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
    <li><%= link_to "Employees", employees_path, class: "dropdown-item" %></li>
    <li><%= link_to "New Employee", new_employee_path, class: "dropdown-item" %></li>
  </ul>
</li>
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Settings
  </a>
  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
    <li><%= link_to "Phase", phases_path, class: "dropdown-item" %></li>
    <li><%= link_to "Divisions", divisions_path, class: "dropdown-item" %></li>
    <li><%= link_to "Crews", crews_path, class: "dropdown-item" %></li>
    <li><%= link_to "Variance", edit_variance_path(1), class: "dropdown-item" %></li>
   

  </ul>
</li>