<%= form_with(model: @project) do |form| %>
  <% if @project.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
        <% @project.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">

    <div class="col">
      <%= form.label :name, style: "display: block", class: "form-label" %>
      <%= form.text_field :name, class: "form-control" %>
    </div>
    <div class="col">
      <%= form.label :project_manager, style: "display: block", class: "form-label" %>
      <%= form.collection_select(:project_manager, Employee.where(crew: "Project Manager"), :id, :name, class: "form-control") %>
    </div>
    <div class="col">
      <%= form.label :info, style: "display: block", class: "form-label" %>
      <%= form.text_area :info, class: "form-control" %>
    </div>
    <div class="d-none">
      <%= form.label :client_id, style: "display: block", class: "form-label" %>
      <%= form.collection_select(:client_id, Client.where(id: @client_id), :id, :name, class: "form-control") %>
    </div>

    <div>
      <%= form.submit class: "btn btn-primary float-end mt-3" %>
    </div>
<% end %>
</div>
