<%= form_with(model: variance) do |form| %>
  <% if variance.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(variance.errors.count, "error") %> prohibited this variance from being saved:</h2>

      <ul>
        <% variance.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>



  <div class="form-group">
    <h1 class="form-label ">Variances</h1>
    <div class="form-group">

      <div class="col ">
        <%= form.label :hour_variance, "Man Hour", class: "form-label" %>
        <%= form.text_field :hour_variance, class: "form-control", placeholder: @variance.hour_variance %>

      </div>
      <div class="col ">
        <%= form.label :hour_rate, "Hour Rate", class: "form-label" %>
        <%= form.text_field :hour_rate, class: "form-control", placeholder: @variance.hour_rate %>
        <%= form.submit "Update", class: "btn btn-primary float-end" %>

      </div>
    </div>
  </div>




<% end %>
