<div id="<%= dom_id phase %>">
  <p>
    <strong>Name:</strong>
    <%= phase.name %>
  </p>

  <p>
    <strong>Hours per week:</strong>
    <%= phase.hours_per_week %>
  </p>

  <p>
    <strong>Hours per month:</strong>
    <%= phase.hours_per_month %>
  </p>

  <p>
    <strong>Three month hours:</strong>
    <%= phase.three_month_hours %>
  </p>

  <p>
    <strong>Six month hours:</strong>
    <%= phase.six_month_hours %>
  </p>

  <p>
    <strong>Nine month hours:</strong>
    <%= phase.nine_month_hours %>
  </p>

  <p>
    <strong>Twelve month hours:</strong>
    <%= phase.twelve_month_hours %>
  </p>

</div>
