<div id="<%= dom_id phase %>">
  <tr>
    <td><%= phase.name %></td>
    <td><%= phase.hours_per_week %></td>
    <td><%= phase.three_month_hours %></td>
    <td><%= phase.six_month_hours %></td>
    <td><%= phase.nine_month_hours %></td>
    <td><%= phase.three_month_hours %></td>
    <td> <%= link_to "Show", phase %></td>
  </tr>

</div>
