<div id="<%= dom_id phase %>">
  <tr>
    <td><%= link_to phase.name, phase %></td>
    <td><%= Job.where(phase: phase.name).sum(:hours_per_week) %></td>
    <td><%= Job.where(phase: phase.name).sum(:three_month_hours) %></td>
    <td><%= Job.where(phase: phase.name).sum(:six_month_hours) %></td>
    <td><%= Job.where(phase: phase.name).sum(:nine_month_hours) %></td>
    <td><%= Job.where(phase: phase.name).sum(:twelve_month_hours) %></td>


  </tr>

</div>
