<!DOCTYPE html>
<html>
  <head>
    <title>Operation_MIST</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%#= javascript_importmap_tags %>
    <%= javascript_importmap_tags %>
  </head>
<header>

  <%= render "home/header" %>
  <% if notice  %>
  <p class="notice"><%= notice %></p>
    <% elsif alert%>
  <p class="alert"><%= alert %></p>
    <% end %>
</header>
  <body>
    <%= yield %>
  </body>
</html>
